<!--This is a separate page where I keep all the Likert Scale Questions. Unfnortunately I have to copy them manually into my primary code, because I haven't figured out to impnort HTML. -->
<div id = "carraro">

  <!--Carraro Bipolar Scales-->
  <!--I think Hillary Clinton...Donald Trump is...-->
<b>Answer the following questions based on your own personal views.</b><br><br>
<form action="">
<b>I think Donald Trump is...</b>
      <!--Active-passive...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT1" value="1">
        <label>Passive</label>
      </li>
      <li>
        <input type="radio" name="cT1"  value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT1"  value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT1" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT1"  value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT1" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT1" value="7">
        <label>Active</label>
      </li>
    </ul>
    <!--Intelligent-Stupid...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT2" value="7">
        <label>Intelligent</label>
      </li>
      <li>
        <input type="radio" name="cT2" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT2" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT2" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT2" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT2" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT2" value="1">
        <label>Stupid</label>
      </li>
    </ul>
        <!--Potent-Powerless...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT3" value="7">
        <label>Potent</label>
      </li>
      <li>
        <input type="radio" name="cT3" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT3" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT3" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT3" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT3" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT3" value="1">
        <label>Powerless</label>
      </li>
    </ul>
        <!--Slow-Fast...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT4" value="1">
        <label>Slow</label>
      </li>
      <li>
        <input type="radio" name="cT4" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT4" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT4" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT4" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT4" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT4" value="7">
        <label>Fast</label>
      </li>
    </ul>
            <!--Likeable-Disagreeable...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT5" value="7">
        <label>Likeable</label>
      </li>
      <li>
        <input type="radio" name="cT5" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT5" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT5" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT5" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT5" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT5" value="1">
        <label>Disagreeable</label>
      </li>
    </ul>
                <!--Good-Bad...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT6" value="7">
        <label>Good</label>
      </li>
      <li>
        <input type="radio" name="cT6" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT6" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT6" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT6" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT6" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT6" value="1">
        <label>Bad</label>
      </li>
    </ul>
            <!--Weak-Strong...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT7" value="1">
        <label>Weak</label>
      </li>
      <li>
        <input type="radio" name="cT7" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT7" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT7" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT7" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT7" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT7" value="7">
        <label>Strong</label>
      </li>
    </ul>
           <!--Sad-Happy...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT8" value="1">
        <label>Sad</label>
      </li>
      <li>
        <input type="radio" name="cT8" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT8" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT8" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT8" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT8" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT8" value="7">
        <label>Happy</label>
      </li>
    </ul>
                <!--Trustworthy-Untrustworthy...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT9" value="7">
        <label>Trustworthy</label>
      </li>
      <li>
        <input type="radio" name="cT9" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT9" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT9" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT9" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT9" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT9" value="1">
        <label>Untrustworthy</label>
      </li>
    </ul>
               <!--Small-Great..-->
    <ul class="likert">
      <li>
        <input type="radio" name="cT10" value="1">
        <label>Small</label>
      </li>
      <li>
        <input type="radio" name="cT10" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT10" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT10" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT10" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cT10" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cT10" value="7">
        <label>Great</label>
      </li>
    </ul>
 </form>
 
  <form action="">
    <label class="statement">I think Hillary Clinton is....</label>
      <!--Active-passive...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC1" value="1">
        <label>Passive</label>
      </li>
      <li>
        <input type="radio" name="cC1" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC1" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC1" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC1" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC1" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC1" value="7">
        <label>Active</label>
      </li>
    </ul>
    <!--Intelligent-Stupid...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC2" value="7">
        <label>Intelligent</label>
      </li>
      <li>
        <input type="radio" name="cC2" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC2" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC2" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC2" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC2" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC2" value="1">
        <label>Stupid</label>
      </li>
    </ul>
        <!--Potent-Powerless...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC3" value="7">
        <label>Potent</label>
      </li>
      <li>
        <input type="radio" name="cC3" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC3" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC3" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC3" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC3" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC3" value="1">
        <label>Powerless</label>
      </li>
    </ul>
        <!--Slow-Fast...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC4" value="1">
        <label>Slow</label>
      </li>
      <li>
        <input type="radio" name="cC4" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC4" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC4" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC4" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC4" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC4" value="7">
        <label>Fast</label>
      </li>
    </ul>
            <!--Likeable-Disagreeable...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC5" value="7">
        <label>Likeable</label>
      </li>
      <li>
        <input type="radio" name="cC5" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC5" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC5" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC5" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC5" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC5" value="1">
        <label>Disagreeable</label>
      </li>
    </ul>
                <!--Good-Bad...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC6" value="7">
        <label>Good</label>
      </li>
      <li>
        <input type="radio" name="cC6" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC6" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC6" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC6" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC6" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC6" value="1">
        <label>Bad</label>
      </li>
    </ul>
            <!--Weak-Strong...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC7" value="1">
        <label>Weak</label>
      </li>
      <li>
        <input type="radio" name="cC7" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC7" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC7" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC7" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC7" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC7" value="7">
        <label>Strong</label>
      </li>
    </ul>
           <!--Sad-Happy...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC8" value="1">
        <label>Sad</label>
      </li>
      <li>
        <input type="radio" name="cC8" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC8" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC8" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC8" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC8" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC8" value="7">
        <label>Happy</label>
      </li>
    </ul>
                <!--Trustworthy-Untrustworthy...-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC9" value="7">
        <label>Trustworthy</label>
      </li>
      <li>
        <input type="radio" name="cC9" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC9" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC9" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC9" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC9" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC9" value="1">
        <label>Untrustworthy</label>
      </li>
    </ul>
               <!--Small-Great..-->
    <ul class="likert">
      <li>
        <input type="radio" name="cC10" value="1">
        <label>Small</label>
      </li>
      <li>
        <input type="radio" name="cC10" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC10" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC10" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC10" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="cC10" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="cC10" value="7">
        <label>Great</label>
      </li>
    </ul>
 </form>
  <!--Carraro Likert Scales-->
  <!-- HILLARY CLINTON CARRARO LIKERT SCALES ---------------------------->
  <form action="">
   <!--I would like to meet Hillary Clinton -->
   <b>How much do you agree with the following statements about Hillary Clinton?</b>
    <label class="statement">I would like to meet Hillary Clinton.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cC11" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cC11" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cC11" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cC11" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cC11" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cC11" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cC11" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I would like to go to one of Hillary Clinton’s “sit-down With voters” events.-->
<label class="statement">I would like to go to one of Hillary Clinton’s “sit-down with voters” events.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cC12" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cC12" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cC12" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cC12" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cC12" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cC12" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cC12" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I think Hillary Clinton is likable.-->
<label class="statement">I think Hillary Clinton is likable.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cC13" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cC13" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cC13" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cC13" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cC13" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cC13" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cC13" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I think Hillary Clinton is interesting.-->
<label class="statement">I think Hillary Clinton is interesting.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cC14" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cC14" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cC14" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cC14" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cC14" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cC14" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cC14" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I think Hillary Clinton is an opportunist.-->
<label class="statement">I think Hillary Clinton is an opportunist.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cC15" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cC15" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cC15" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cC15" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cC15" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cC15" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cC15" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>

  </form>
  
  <br>  <br>  <br>  <br>
<!-- HILLARY CLINTON CARRARO LIKERT SCALES ---------------------------->
  <!--I would like to meet Donald Trump.-->
    <b>How much do you agree with the following statements about Donald Trump?</b>
  <form action="">
    <label class="statement">I would like to meet Donald Trump.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cT11" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cT11" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cT11" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cT11" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cT11" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cT11" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cT11" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I would like to go to one of Donald Trump’s “sit-down With voters” events-->
<label class="statement">I would like to go to one of Donald Trump’s “sit-down with voters” events.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cT12" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cT12" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cT12" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cT12" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cT12" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cT12" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cT12" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I think Donald Trump is likable.-->
<label class="statement">I think Donald Trump is likable.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cT13" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cT13" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cT13" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cT13" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cT13" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cT13" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cT13" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I think Donald Trump is interesting.-->
<label class="statement">I think Donald Trump is interesting.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cT14" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cT14" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cT14" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cT14" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cT14" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cT14" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cT14" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <!--I think Donald Trump is an opportunist.-->
<label class="statement">I think Donald Trump is an opportunist.</label>
    <ul class="likert">
      <li>
        <input type="radio" name="cT15" value="7">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="cT15" value="6">
        <label>Agree</label>
      </li>
	  <li>
        <input type="radio" name="cT15" value="5">
        <label>Slightly agree</label>
      </li>
      <li>
        <input type="radio" name="cT15" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="cT15" value="3">
        <label>Slightly disagree</label>
      </li>
	  <li>
        <input type="radio" name="cT15" value="2">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="cT15" value="1">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <input type="radio" name="cT1" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT2" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT3" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT4" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT5" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT6" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT7" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT8" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT9" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT10" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT11" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT12" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT13" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT14" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cT15" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC1" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC2" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC3" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC4" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC5" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC6" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC7" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC8" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC9" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC10" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC11" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC12" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC13" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC14" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="cC15" value="0" style="display:none" checked = "checked"/>
  </form>
    
<button type="button" onclick=showFiske();>Move On</button>
</div>
<!--BREAKPOINT BETWEEN CARRARO AND FISKE --------------------------------------------------------------------------------------------------------->
  <div id = "fiske">
  
<!------------DONALD TRUMP FISKE SCALES -------------------------------------->
<b>In your opinion...</b>
<form action="">
      <!--How confident is Donald-->
    <label class="statement">How confident is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT1" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fT1" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT1" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT1" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT1" value="5">
        <label>Extremely</label>
      </li>
    </ul>
     <!--How warm is Donald-->
    <label class="statement">How warm is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT2" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fT2" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT2" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT2" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT2" value="5">
        <label>Extremely</label>
      </li>
    </ul>
       <!--How independent is Donald-->
    <label class="statement">How independent is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT3" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fT3" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT3" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT3" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT3" value="1">
        <label>Not at all</label>
      </li>
    </ul>
        <!--How intelligent is Donald-->
    <label class="statement">How intelligent is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT4" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fT4" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT4" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT4" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT4" value="1">
        <label>Not at all</label>
      </li>
    </ul>
            <!--How tolerant is Donald Trump-->
    <label class="statement">How tolerant is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT5" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fT5" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT5" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT5" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT5" value="1">
        <label>Not at all</label>
      </li>
    </ul>
    <label class="statement">How competent is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT6" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fT6" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT6" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT6" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT6" value="5">
        <label>Extremely</label>
      </li>
    </ul>
          
               <!--How good-natured is Donald-->
    <label class="statement">How good-natured is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT7" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fT7" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT7" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT7" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT7" value="5">
        <label>Extremely</label>
      </li>
    </ul>
           <!--How competitive is Donald-->
    <label class="statement">How competitive is Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fT8" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fT8" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT8" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT8" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT8" value="5">
        <label>Extremely</label>
      </li>
    </ul>
                <!--How sincere is Donald-->
    <label class="statement">How sincere is Donald Trump?</label>
    <ul class="likert">
      
	  <li>
        <input type="radio" name="fT9" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fT9" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT9" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fT9" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fT9" value="1">
        <label>Not at all</label>
      </li>
    </ul>
    <br><br><br><br>
<!------------------- HILLARY CLINTON FISKE SCALES ------------------------->
  <!--How competent is Hillary-->
<b>In your opinion...</b>
      <!--How confident is Hillary-->
    <label class="statement">How confident is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC1" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fC1" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC1" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC1" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC1" value="5">
        <label>Extremely</label>
      </li>
    </ul>
     <!--How warm is Hillary-->
    <label class="statement">How warm is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC2" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fC2" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC2" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC2" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC2" value="5">
        <label>Extremely</label>
      </li>
    </ul>
       <!--How independent is Hillary-->
    <label class="statement">How independent is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC3" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fC3"  value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC3"  value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC3"  value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC3"  value="1">
        <label>Not at all</label>
      </li>
    </ul>
        <!--How intelligent is Hillary-->
    <label class="statement">How intelligent is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC4"  value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fC4" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC4" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC4" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC4" value="1">
        <label>Not at all</label>
      </li>
    </ul>
            <!--How tolerant is Hillary Clinton-->
    <label class="statement">How tolerant is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC5" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fC5" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC5" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC5" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC5" value="1">
        <label>Not at all</label>
      </li>
    </ul>
    <label class="statement">How competent is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC6" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fC6" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC6" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC6" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC6" value="5">
        <label>Extremely</label>
      </li>
    </ul>
          
               <!--How good-natured is Hillary-->
    <label class="statement">How good-natured is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC7" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fC7" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC7" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC7" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC7" value="5">
        <label>Extremely</label>
      </li>
    </ul>
           <!--How competitive is Hillary-->
    <label class="statement">How competitive is Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="fC8" value="1">
        <label>Not at all</label>
      </li>
      <li>
        <input type="radio" name="fC8" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC8" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC8" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC8" value="5">
        <label>Extremely</label>
      </li>
    </ul>
                <!--How sincere is Hillary-->
    <label class="statement">How sincere is Hillary Clinton?</label>
    <ul class="likert">
      
	  <li>
        <input type="radio" name="fC9" value="5">
        <label>Extremely</label>
      </li>
      <li>
        <input type="radio" name="fC9" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC9" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="fC9" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="fC9" value="1">
        <label>Not at all</label>
      </li>
    </ul>
    <input type="radio" name="fT1" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT2" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT3" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT4" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT5" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT6" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT7" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT8" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fT9" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC1" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC2" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC3" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC4" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC5" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC6" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC7" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC8" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="fC9" value="0" style="display:none" checked = "checked"/>
    </form>
    <button type="button" onclick=showSurvey1();>Move On</button>
    </div>
    <!------- HERE BEGINS POLITICAL ALIGNMENT QUESTIONS ----------------------------------------------------------------------------------------------------------->
<div id = "survey1">

<form action="">
  <!--Political Alignment-->
  <!--How closely does your views match those of Donald Trump?-->
    <label class="statement">How closely does your views match those of Donald Trump?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a1" value="1">
        <label>Do not match at all</label>
      </li>
      <li>
        <input type="radio" name="a1" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a1" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a1" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a1" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a1" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a1" value="7">
        <label>Match very closely</label>
      </li>
    </ul>
  <!--How closely does your views match those of Hillary Clinton?-->
    <label class="statement">How closely does your views match those of Hillary Clinton?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a2" value="7">
        <label>Do not match at all</label>
      </li>
      <li>
        <input type="radio" name="a2" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a2" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a2" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a2" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a2" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a2" value="1">
        <label>Match very closely</label>
      </li>
    </ul>
  <!--How closely does your views match those of the Republican Party?-->
    <label class="statement">How closely does your views match those of the Republican Party?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a3" value="1">
        <label>Do not match at all</label>
      </li>
      <li>
        <input type="radio" name="a3" value="2">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a3" value="3">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a3" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a3" value="5">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a3" value="6">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a3" value="7">
        <label>Match very closely</label>
      </li>
    </ul>
  <!--How closely does your views match those of the Democratic party?-->
    <label class="statement">How closely does your views match those of the Democratic Party?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a4" value="7">
        <label>Do not match at all</label>
      </li>
      <li>
        <input type="radio" name="a4" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a4" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a4" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a4" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a4" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a4" value="1">
        <label>Match very closely</label>
      </li>
    </ul>
  <!--People sometimes place themselves on a right-left scale in politics. On such a scale, where do you place yourself?-->
    <label class="statement">People sometimes place themselves on a right-left scale in politics. On such a scale, where do you place yourself?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a5" value="7">
        <label>Very far right</label>
      </li>
      <li>
        <input type="radio" name="a5" value="6">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a5" value="5">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a5" value="4">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a5" value="3">
        <label></label>
      </li>
	  <li>
        <input type="radio" name="a5" value="2">
        <label></label>
      </li>
      <li>
        <input type="radio" name="a5" value="1">
        <label>Very far left</label>
      </li>
    </ul>
        <label class="statement">Do you see yourself as conservative or liberal?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a6" value="1">
        <label>Extremely liberal</label>
      </li>
      <li>
        <input type="radio" name="a6" value="2">
        <label>Liberal</label>
      </li>
	  <li>
        <input type="radio" name="a6" value="3">
        <label>Somewhat liberal</label>
      </li>
      <li>
        <input type="radio" name="a6" value="4">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="a6" value="5">
        <label>Somewhat conservative</label>
      </li>
	  <li>
        <input type="radio" name="a6" value="6">
        <label>Conservative</label>
      </li>
      <li>
        <input type="radio" name="a6" value="7">
        <label>Extremely conservative</label>
      </li>
    </ul>
            <label class="statement">Do you identify yourself as a Democrat, Independent or Republican?</label>
    <ul class="likert">
      <li>
        <input type="radio" name="a7" value="7">
        <label>Strong Republican</label>
      </li>
      <li>
        <input type="radio" name="a7" value="6">
        <label>Republican</label>
      </li>
	  <li>
        <input type="radio" name="a7" value="5">
        <label>Independent, lean Republican</label>
      </li>
      <li>
        <input type="radio" name="a7" value="4">
        <label>Independent, no lean</label>
      </li>
      <li>
        <input type="radio" name="a7" value="3">
        <label>Independent, lean Democrat</label>
      </li>
	  <li>
        <input type="radio" name="a7" value="2">
        <label>Democrat</label>
      </li>
      <li>
        <input type="radio" name="a7" value="1">
        <label>Strong Democrat</label>
      </li>
    </ul>
    <input type="radio" name="a1" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="a2" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="a3" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="a4" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="a5" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="a6" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="a7" value="0" style="display:none" checked = "checked"/>
</form>
<button type="button" onclick=showSurvey2();>Move On</button>
</div>
<!------------POLITICAL ACTION SCALE --------------------------------------------------->
<div id = "survey2">
<b>Are you registered to vote in the 2016 United States Presidential Election?<br></b>
 <form action="">
  <input type="radio" name="p1" value="2">Yes<br>
  <input type="radio" name="p1" value="1">No<br>
<b>Have you already placed an early vote in the 2016 United States Presidential Election?<br></b>
  <input type="radio" name="p2" value="2">Yes<br>
  <input type="radio" name="p2" value="1">No<br>
<b>Who are you planning to vote for/have you already voted for in the 2016 United States Presidential Election?</b><br>
  <input type="radio" name="p3" value="1">Donald Trump<br>
  <input type="radio" name="p3" value="2">Hillary Clinton<br>
  <input type="radio" name="p3" value="3">Gary Johnson<br>
  <input type="radio" name="p3" value="4">Jill Stein<br>
  <input type="radio" name="p3" value="5">Evan McMullin<br>
  <input type="radio" name="p3" value="6">Other<br>
  <input type="radio" name="p3" value="97">Have not decided<br>
  <input type="radio" name="p3" value="98">Will not vote<br>
  <input type="radio" name="p3" value="99">Prefer not to say<br>
<b>If you have decided who to vote for or have already voted, when did you decide who to vote for?</b><br>
  <input type="radio" name="p4" value="1">Since the third presidential debate (two weeks ago)<br>
  <input type="radio" name="p4" value="2">Between the 1st and the third presidential debate (2-4 weeks ago)<br>
  <input type="radio" name="p4" value="3">Between the Party National Conventions and the first presidential debate(1-3months ago)<br>
  <input type="radio" name="p4" value="4">Earlier than three months ago<br>
  <input type="radio" name="p4" value="5">Have not decided/will not vote<br>
<b>Did you vote in the Democratic Primary in your state?</b><br>
  <input type="radio" name="p5" value="2">Yes<br>
  <input type="radio" name="p5" value="1">No<br> 
<b>If you voted in the Democratic primary, who did you vote for? If you did not vote, who would you have voted for?</b><br>
  <input type="radio" name="p6" value="1">Hillary Clinton<br>
  <input type="radio" name="p6" value="2">Bernie Sanders<br> 
  <input type="radio" name="p6" value="3">Martin O'Malley<br> 
  <input type="radio" name="p6" value="4">Other/no preference<br> 
<b>Did you vote in the Republican Primary in your state?</b><br>
  <input type="radio" name="p7" value="2">Yes<br>
  <input type="radio" name="p7" value="1">No<br>
<b>If you voted in the Republican primary, who did you vote for? If you did not vote, who would you have voted for</b>?<br>
  <input type="radio" name="p8" value="1">Donald Trump<br>
  <input type="radio" name="p8" value="2">Ted Cruz<br>
  <input type="radio" name="p8" value="3">Marco Rubio<br>
  <input type="radio" name="p8" value="4">John Kasich<br>
  <input type="radio" name="p8" value="5">Other/no preference<br>
<b>Who did you vote for in the 2012 presidential Election?</b><br>
  <input type="radio" name="p9" value="1">Barack Obama<br>
  <input type="radio" name="p9" value="2">Mitt Romney<br>
  <input type="radio" name="p9" value="3">Other<br>
  <input type="radio" name="p9" value="4">Did not vote because under 18 years of age<br>
  <input type="radio" name="p9" value="5">Did not vote for other reasons<br>
<b>Who did you vote for in the 2008 presidential Election?</b><br>
  <input type="radio" name="p10" value="1">Barack Obama<br>
  <input type="radio" name="p10" value="2">John Mccain<br>
  <input type="radio" name="p10" value="3">Other<br>
  <input type="radio" name="p10" value="4">Did not vote because under 18 years of age<br>
  <input type="radio" name="p10" value="5">Did not vote for other reasons<br>
<b>Who did you vote for in the 2004 presidential Election?</b><br>
  <input type="radio" name="p11" value="1">George W. Bush<br>
  <input type="radio" name="p11" value="2">John Kerry<br>
  <input type="radio" name="p11" value="3">Other<br>
  <input type="radio" name="p11" value="4">Did not vote because under 18 years of age<br>
  <input type="radio" name="p11" value="5">Did not vote for other reasons<br><br>
<b>Who did you vote for in the 2000 presidential Election?</b><br>
  <input type="radio" name="p12" value="1">George W. Bush<br>
  <input type="radio" name="p12" value="2">Al Gore<br>
  <input type="radio" name="p12" value="3">Other<br>
  <input type="radio" name="p12" value="4">Did not vote because under 18 years of age<br>
  <input type="radio" name="p12" value="5">Did not vote for other reasons<br>
    <input type="radio" name="p1" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p2" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p3" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p4" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p5" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p6" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p7" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p8" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p9" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p10" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p11" value="0" style="display:none" checked = "checked"/>
    <input type="radio" name="p12" value="0" style="display:none" checked = "checked"/>
</form>
<button type="button" onclick=showSurvey3();>Move On</button>
</div>

<!------ POLITICAL KNOWLEDGE --------------------------->
<div id = "survey3">
<b>Please answer the following questions to the best of your ability. If you are not certain, please provide your best guess. </b><br>
<b>What proportion of Congress is required to override a Presidential veto?<br></b>
<form action="">
	<input type="radio" name="s1" value="1">1/2<br>
    <input type="radio" name="s1" value="1">4/5<br>
    <input type="radio" name="s1" value="2">2/3<br>
    <input type="radio" name="s1" value="1">3/4<br>
<b>What are the three branches of the U.S. Government?<br></b>
    <input type="radio" name="s2" value="1">The House, The President, The Senate<br>
    <input type="radio" name="s2" value="2">The Legislative, The Executive, The Judicial<br>
    <input type="radio" name="s2" value="1">Congress, The President, The Senate<br>
    <input type="radio" name="s2" value="1">The Legislative, The Executive, Congress<br>
<b>What state did current President Barack Obama represent as a Senator between years 2005 to 2008?<br></b>
    <input type="radio" name="s3" value="2">Illinois<br>
    <input type="radio" name="s3" value="1">New York<br>
    <input type="radio" name="s3" value="1">Washington D.C.<br>
    <input type="radio" name="s3" value="1">Massachusetts<br>
<b>What is the name of the current Vice President?<br></b>
    <input type="radio" name="s4" value="1">John Kerry<br>
    <input type="radio" name="s4" value="2">Joe Biden<br>
    <input type="radio" name="s4" value="1">Hillary Clinton<br>
    <input type="radio" name="s4" value="1">Elizabeth Warren<br>
<b>What is the name of the current Secretary of State?<br></b>
    <input type="radio" name="s5" value="2">John Kerry<br>
    <input type="radio" name="s5" value="1">Joe Biden<br>
    <input type="radio" name="s5" value="1">Hillary Clinton<br>
    <input type="radio" name="s5" value="1">Elizabeth Warren<br>
<b>How many voting seats are there in the House of Representatives?<br></b>
    <input type="radio" name="s6" value="1">100<br>
    <input type="radio" name="s6" value="1">538<br>
    <input type="radio" name="s6" value="2">435<br>
    <input type="radio" name="s6" value="1">477<br>
<b>Which party currently holds the majority in the House of Representatives?<br></b>
    <input type="radio" name="s7" value="1">Democratic Party<br>
    <input type="radio" name="s7" value="2">Republican Party<br>
<b>Who was the Republican Party’s nominee for President during the 2012 election?<br></b>
    <input type="radio" name="s8" value="1">Donald Trump<br>
    <input type="radio" name="s8" value="1">George W. Bush<br>
    <input type="radio" name="s8" value="1">John McCain<br>
    <input type="radio" name="s8" value="2">Mitt Romney<br>
<b>What is the name of former President George W. Bush’s vice president?<br></b>
    <input type="radio" name="s9" value="2">Dick Cheney<br>
    <input type="radio" name="s9" value="1">Colin Powell<br>
    <input type="radio" name="s9" value="1">Condoleezza Rice<br>
    <input type="radio" name="s9" value="1">Paul Ryan<br>
<b>What proportion of the U.S. Senate is required to end a filibuster in the Senate?<br></b>
    <input type="radio" name="s10" value="1">1/2<br>
    <input type="radio" name="s10" value="2">3/5<br>
    <input type="radio" name="s10" value="1">2/3<br>
    <input type="radio" name="s10" value="1">3/4<br>
<b>What is the name of the current Senate Majority Leader?<br></b>
    <input type="radio" name="s11" value="2">Mitch McConnel<br>
    <input type="radio" name="s11" value="1">Paul Ryan<br>
    <input type="radio" name="s11" value="1">Elizabeth Warren<br>
    <input type="radio" name="s11" value="1">Harry Reid<br>
<b>How often does a U.S. Senate seat come up for re-election?<br></b>
    <input type="radio" name="s12" value="1">Every four years<br>
    <input type="radio" name="s12" value="2">Every six years<br>
    <input type="radio" name="s12" value="1">Every two years<br>
    <input type="radio" name="s12" value="1">It varies between states<br>
<b>What is the name of the current Speaker of the House?<br></b>
    <input type="radio" name="s13" value="1">Nancy Pelosi<br>
    <input type="radio" name="s13" value="1">John McCain<br>
    <input type="radio" name="s13" value="1">Al Gore<br>
    <input type="radio" name="s13" value="2">Paul Ryan<br>
<b>How many seats are there in the Senate?<br></b>
    <input type="radio" name="s14" value="1">120<br>
    <input type="radio" name="s14" value="1">101<br>
    <input type="radio" name="s14" value="2">100<br>
    <input type="radio" name="s14" value="1">81<br>
<b>What is the name of the current Senate Minority Leader?<br></b>
    <input type="radio" name="s15" value="1">Mitch McConnel<br>
    <input type="radio" name="s15" value="1">Paul Ryan<br>
    <input type="radio" name="s15" value="1">Elizabeth Warren<br>
    <input type="radio" name="s15" value="2">Harry Reid<br>
<b>When there are no empty seats, how many judges are there on the Supreme Court?<br></b>
    <input type="radio" name="s16" value="2">9<br>
    <input type="radio" name="s16" value="1">10<br>
    <input type="radio" name="s16" value="1">11<br>
    <input type="radio" name="s16" value="1">12<br>
        <input type="radio" name="s1" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s2" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s3" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s4" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s5" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s6" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s7" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s8" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s9" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s10" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s11" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s12" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s13" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s14" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s15" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="s16" value="0" style="display:none" checked = "checked"/>
</form>
<button type="button" onclick=showSurvey4();>Move On</button>
</div>
<!---------- Demographics ---------------------> 
<div id ="survey4">
<b>What is your gender?</b><br>
    <input type="text" id="d1" name="d1" maxlength="1"/><br><br>
<b>How old are you?<br></b>
    <input type="num" id="d2" name="d2" maxlength="2"/><br><br>
<form action="">
<b>What country are you currently residing in?</b><br>
    <input type="text" id="d3" name="d3"/><br><br>
<b>Put NA in this box if you are not residing in the US. If you reside in the US, what state are you currently residing in? (answer with a two-letter abbreviation, e.g. TX for texas)<br></b>
    <input type="num" id="d4" name="d4" maxlength="2"/><br><br>
<b>Are you an American Citizen?</b><br>
    <input type="radio" name="d5" value="1">Yes<br>
    <input type="radio" name="d5" value="2">No<br>
    <input type="radio" name="d5" value="99">Prefer not to answer<br>
<b>How much did you earn, before taxes and other deductions, during the past 12 months?</b><br>
    <input type="radio" name="d6" value="1">Less than $5,000<br>
    <input type="radio" name="d6" value="2">$5,000 through $11,999<br>
    <input type="radio" name="d6" value="3">12,000 through $15,999<br>
    <input type="radio" name="d6" value="4">$16,000 through $24,999<br>
    <input type="radio" name="d6" value="5">$25,000 through $34,999<br>
    <input type="radio" name="d6" value="6">$35,000 through $49,999<br>
    <input type="radio" name="d6" value="7">$50,000 through $74,999<br>
    <input type="radio" name="d6" value="8">$75,000 through $99,999<br>
    <input type="radio" name="d6" value="9">$100,000 and greater<br>
    <input type="radio" name="d6" value="98">Don't know<br>
    <input type="radio" name="d6" value="99">Prefer not to answer<br>
<b>What is your race?</b><br>
    <input type="radio" name="d7" value="1">White<br>
    <input type="radio" name="d7" value="2">Black/African American<br>
    <input type="radio" name="d7" value="3">American Indian<br>
    <input type="radio" name="d7" value="4">Asian<br>
    <input type="radio" name="d7" value="5">Other<br>
    <input type="radio" name="d7" value="99">Prefer not to answer<br>
<b>Are you of Hispanic, Latino or Spanish origin?</b><br>
    <input type="radio" name="d8" value="1">Yes<br>
    <input type="radio" name="d8" value="2">No<br>
    <input type="radio" name="d8" value="99">Prefer not to answer<br>
<b>What is the highest degree or level of school you have completed? If currently enrolled, highest degree received.</b><br>
	<input type="radio" name="d9" value="1">No schooling completed<br>
    <input type="radio" name="d9" value="2">Nursery school to 8th grade<br>
    <input type="radio" name="d9" value="3">Some high school, no diploma<br>
    <input type="radio" name="d9" value="4">High school graduate, diploma or the equivalent (for example: GED)<br>
    <input type="radio" name="d9" value="5">Some college credit, no degree<br>
    <input type="radio" name="d9" value="6">Trade/technical/vocational training<br>
    <input type="radio" name="d9" value="7">Associate degree<br>
    <input type="radio" name="d9" value="8">Bachelor’s degree<br>
    <input type="radio" name="d9" value="9">Master’s degree<br>
    <input type="radio" name="d9" value="10">Professional degree<br>
    <input type="radio" name="d9" value="11">Doctorate degree<br>
    <input type="radio" name="d9" value="99">Prefer not to answer<br>
<b>What is your marital status?</b><br>
    <input type="radio" name="d10" value="1">Single, never married<br>
    <input type="radio" name="d10" value="2">Married or domestic partnership<br>
    <input type="radio" name="d10" value="3">Widowed<br>
    <input type="radio" name="d10" value="4">Divorced<br>
    <input type="radio" name="d10" value="5">Separated<br>
    <input type="radio" name="d10" value="99">Prefer not to answer<br>
<!------ Authoritarianism --------------------------->
<b>Choosing one for each pair, do you think it is more important for a child to be...</b><br>
    <input type="radio" name="au1" value="2">Respectful<input type="radio" name="au1" value="1">Independent<br>
    <input type="radio" name="au2" value="2">Well-mannered<input type="radio" name="au2" value="1">Curious<br>
    <input type="radio" name="au3" value="1">Self-reliant <input type="radio" name="au3" value="2">Obedient<br>
    <input type="radio" name="au4" value="2">Well-behaved <input type="radio" name="au4" value="1">Considerate<br>
<b>What is your employment status? Currently...</b><br>
    <input type="radio" name="d11" value="1">Employed for wages<br>
    <input type="radio" name="d11" value="2">Self-employed<br>
    <input type="radio" name="d11" value="3">Out of work and looking for work<br>
    <input type="radio" name="d11" value="4">Out of work but not currently looking for work<br>
    <input type="radio" name="d11" value="5">A homemaker<br>
    <input type="radio" name="d11" value="6">A student<br>
    <input type="radio" name="d11" value="7">Military<br>
    <input type="radio" name="d11" value="8">Retired<br>
    <input type="radio" name="d11" value="9">Unable to work<br>
    <input type="radio" name="d11" value="10">A homemaker<br>
    <input type="radio" name="d11" value="99">Prefer not to answer<br>
<b>How would you categorize the political ad you saw earlier? If more than one category applies, pick the one you think applies most.</b><br>
    <input type="radio" name="c0" value="1">A positive ad<br>
    <input type="radio" name="c0" value="2">A negative ad focused on ideology<br>
    <input type="radio" name="c0" value="3">A negative ad focused on personality<br>
    <input type="radio" name="c0" value="4">A negative ad focused on political issues<br>
<br>
<b>Do you speak or read Mandarin Chinese or any other Chinese dialect, even at a basic level?</b><br>
    <input type="radio" name="c1" value="1">Yes<br>
    <input type="radio" name="c1" value="2">No<br>
<b>Did you recognize the third person (apart from Hillary Clinton and Donald Trump) shown before the Chinese characters? If so, please input his name below:</b><br>
    <input type="text" id="c2" name="c2"/><br><br>
<b>Did the video play without playback problems?</b><br>
    <input type="radio" name="c3" value="1">Yes, both video and audio played fine<br>
    <input type="radio" name="c3" value="2">No, the video paused for buffering at least once<br>
    <input type="radio" name="c3" value="3">No, there were other problems with video and/or audio at least once<br>
<b>Did you have any other difficulties during the experiment? If so, please mention them here:</b><br>
    <input type="text" id="c4" name="c4"/><br><br>
        <input type="radio" name="d5" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="d6" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="d7" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="d8" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="d9" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="d10" value="0" style="display:none" checked = "checked"/>

        <input type="radio" name="au1" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="au2" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="au3" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="au4" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="c0" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="c1" value="0" style="display:none" checked = "checked"/>
        <input type="radio" name="c3" value="0" style="display:none" checked = "checked"/>
</form>
<b>What do you think the experiment was about?</b><br><br>
<textarea id="comments" name="comments" cols="60" rows="5"></textarea>
<p><input type="submit" id="submit" name="submit" onClick="endExpt()" style=""/></p>

</div>
<div id = "end" >
<p>Thank you again for participating in our study. The experiment was about investigating the impact political communication has on how we feel and think about political candidates.</p>
<p>And again, before closing this window, be sure to acquire (and copy to your clipboard) the confirmation code below.</p>
<p></p><p></p>
<p>If you have any questions or concerns about the tasks you just performed, please contact Adrian Stymne at adrian.stymne@u.yale-nus.edu.sg.</p>
</div>
<div id = "code">
<b>
CODE:
<script>
code = Math.random().toString(36).slice(2)
document.write(code + userID)
</script>
</b>
</div>






